body {
  font-size: 0.8em;
  font-family: verdana,arial,helvetica,sans-serif;
  background: linear-gradient(to bottom, #222, #111);
  color: #EEE;
  padding: 0px;
  margin: 0px;
  cursor: default;
}

.img {
  position: relative;
  overflow: hidden;
  background-size: cover;
  border-radius: 250px;
  max-width: 100%;
  cursor: pointer;
  transition: 300ms;
}
.img:hover {
  transform: scale(1.02);
}

@media (max-width: 479px) {
  #page-content {
    font-size: .9em;
  }
}

.contact {
  position: relative;
  left: 50%;
  margin-left: -125px;
  height: 160px;
  width: 245px;
  background: transparent;
  border-radius: 2px;
  -ms-border-radius: 2px;
  -moz-border-radius: 2px;
  -o-border-radius: 2px;
  -webkit-border-radius: 2px;
}
.contact > .envelope {
  position: absolute;
  height: 93px;
  width: 175px;
  left: 50%;
  margin-left: -83px;
  top: 50%;
  margin-top: -50px;
  background: #252525;
  transition: margin-top 300ms;
  -ms-transition: margin-top 300ms;
  -moz-transition: margin-top 300ms;
  -o-transition: margin-top 300ms;
  -webkit-transition: margin-top 300ms;
}
.contact:hover > .envelope {
  transition-delay: 150ms;
  -ms-transition-delay: 150ms;
  -moz-transition-delay: 150ms;
  -o-transition-delay: 150ms;
  margin-top: -20px;
}
.contact > .envelope > .top {
  position: absolute;
  top: -3px;
  left: 0px;
  width: 100%;
  height: 73px;
  z-index: 30;
  overflow: hidden;
  transform-origin: top;
  -ms-transform-origin: top;
  -moz-transform-origin: top;
  -o-transform-origin: top;
  -webkit-transform-origin: top;
  transition: transform 300ms 150ms, z-index 0ms 150ms, height 300ms 0ms, top 300ms 0ms;
  -ms-transition: -ms-transform 300ms 150ms, z-index 0ms 150ms, height 300ms 0ms, top 300ms 0ms;
  -moz-transition: -moz-transform 300ms 150ms, z-index 0ms 150ms, height 300ms 0ms, top 300ms 0ms;
  -o-transition: -o-transform 300ms 150ms, z-index 0ms 150ms, height 300ms 0ms, top 300ms 0ms;
  -webkit-transition: -webkit-transform 300ms 150ms, z-index 0ms 150ms, height 300ms 0ms, top 300ms 0ms;
}
.contact:hover > .envelope > .top {
  transition: transform 300ms 0ms, height 300ms 150ms, top 300ms 150ms;
  -ms-transition: -ms-transform 300ms 0ms, height 300ms 150ms, top 300ms 150ms;
  -moz-transition: -moz-transform 300ms 0ms, height 300ms 150ms, top 300ms 150ms;
  -o-transition: -o-transform 300ms 0ms, height 300ms 150ms, top 300ms 150ms;
  -webkit-transition: -webkit-transform 300ms 0ms, height 300ms 150ms, top 300ms 150ms;
  height: 0px;
  top: -70px;
  transform: rotateX(180deg);
  -ms-transform: rotateX(180deg);
  -moz-transform: rotateX(180deg);
  -o-transform: rotateX(180deg);
  -webkit-transform: rotateX(180deg);
}
.contact > .envelope > .top > .outer {
  position: absolute;
  bottom: 0px;
  left: 0px;
  border-left: 88px solid transparent;
  border-right: 87px solid transparent;
  border-top: 70px solid #171717;
}
.contact > .envelope > .top > .outer > .inner {
  position: absolute;
  left: -86px;
  top: -73px;
  border-left: 86px solid transparent;
  border-right: 85px solid transparent;
  border-top: 68px solid #333;
}
.contact > .envelope > .bottom {
  position: absolute;
  z-index: 20;
  bottom: 0px;
  left: 2px;
  border-left: 86px solid transparent;
  border-right: 85px solid transparent;
  border-bottom: 45px solid #333;
}
.contact > .envelope > .left {
  position: absolute;
  z-index: 20;
  top: 0px;
  left: 0px;
  border-left: 86px solid #333;
  border-top: 45px solid transparent;
  border-bottom: 45px solid transparent;
}
.contact > .envelope > .right {
  position: absolute;
  z-index: 20;
  top: 0px;
  right: 0px;
  border-right: 85px solid #333;
  border-top: 45px solid transparent;
  border-bottom: 45px solid transparent;
}
.contact > .envelope > .cover {
  position: absolute;
  z-index: 15;
  bottom: 0px;
  left: 0px;
  height: 55%;
  width: 100%;
  background: #171717;
}
.contact > .envelope > .paper {
  position: absolute;
  height: 83px;
  padding-top: 10px;
  width: 100%;
  top: 0px;
  left: 0px;
  background: #2c2c2c;
  z-index: 10;
  transition: margin-top 300ms 0ms;
  -ms-transition: margin-top 300ms 0ms;
  -moz-transition: margin-top 300ms 0ms;
  -o-transition: margin-top 300ms 0ms;
  -webkit-transition: margin-top 300ms 0ms;
}
.contact:hover > .envelope > .paper {
  margin-top: -70px;
  transition: margin-top 300ms 150ms;
  -ms-transition: margin-top 300ms 150ms;
  -moz-transition: margin-top 300ms 150ms;
  -o-transition: margin-top 300ms 150ms;
  -webkit-transition: margin-top 300ms 150ms;
}

#header  {
  height: 140px;
  position: relative;
  z-index: 10;
  padding-bottom: 22px;
  pointer-events: none;
  background: url("theme_white_black.png") top left repeat-x;
}
#header h1 {
  margin: 0px;
  margin-left: 140px;
  padding: 0px;
  float: left;
  max-height: 95px;
  font-weight: bold;
}
#header h1 span {
  display: block;
  padding: 80px 0 25px;
  line-height: 0px;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  text-shadow: 3px 3px 5px #000;
  letter-spacing: 0.9px;
  pointer-events: all;
  font-size: 200%;
}

#header-wrap {
  height: 140px;
  background: top left / contain no-repeat url("icon.png")
}

#top-bar {
  width: 100%;
  position: absolute;
  z-index: 50;
  top: 141.5px;
  height: 21px;
  line-height: 18px;
  padding: 0;
  z-index: 20;
  font-size: 90%;
}
#top-bar > ul {
  width: 90%;
  margin: auto;
  display: block;
  padding: 0px;
  list-style: none;
  pointer-events: all;
}
#top-bar > ul > li {
  cursor: pointer;
  list-style: none;
  float: left;
  border: 0px;
  overflow: hidden;
  position: relative;
  text-align: center;
  display: block;
  padding: 1px 10px;
  border-right: solid 2px rgba(128,128,128,.2);
}
#top-bar > ul > li:first-child {
  border-left: solid 2px rgba(128,128,128,.2);
}
#top-bar > ul > li:hover {
  background: #e6e6e6 !important;
  color: #000 !important;
  transition: all 0.2s ease-in-out;
}

@media (max-width: 479px) {
  #header h1 span {
    font-size: 100%;
  }
}
@media (min-width: 480px) and (max-width: 580px) {
  #header h1 span {
    font-size: 120%;
  }
}
@media (min-width: 581px) and (max-width: 767px) {
  #header h1 span {
    font-size: 140%;
  }
}
@media (min-width: 768px) and (max-width: 979px) {
  #header h1 span {
    font-size: 160%;
  }
}

a {
  color: #BFBFBF;
  transition: color 200ms;
  -ms-transition: color 200ms;
  -moz-transition: color 200ms;
  -o-transition: color 200ms;
  -webkit-transition: color 200ms;
}
a:hover {
  color: #FFF;
  text-shadow: rgb(183, 183, 183) 0px 0px 3px, rgb(185, 185, 185) 0px 0px 4px !important;
}

.page {
  min-height :calc(100vh - 140px - 22px);
}

.content {
  width: calc(100% - 3.5em);
  margin: auto;
  line-height: 1.85;
  font-size: 1.4em
}
